@import "base/variables";
@import "components/carousel";
@import "components/Navigation";
@import "components/ppt";
@import "components/heroku-react";
@import "components/ttd";

body {
	padding-top: 60px;
	background-color: $body-grey-color;	
}

.blue-color-heading {
	color: $blue-color;
	font-size: 40px;
}

.p-text {
	font-size: $p-text-size;	
}

.navbar-brand {
	font-weight: bold;
}

.body-heading {
	border-bottom: 1px solid #eee;
	padding-bottom: 9.5px;
	margin: 42px 0 21px;
}

pre {
	margin-top: 10px;
}

.glyphicon.glyphicon-chevron-right {
	color:  $red-color;
}

.glyphicon.glyphicon-chevron-left {
	color: $red-color;
}

