$red-color: #D11838;
$blue-color: #0078d7;
$grey-color-text: #8e8e93;
$body-grey-color: #fafafa;

$p-text-size: 16px;

/*TOP NAVIGATION*/
$top-nav-font-family: Tahoma,Arial,sans-serif;
$top-nav-background-color: #fff;
$top-nav-font-family: Tahoma,Arial,sans-serif;


