.navbar.navbar-fixed-top, .navbar-nav {
	background-color: $red-color;
}

.top-link {
	font-family: $top-nav-font-family;	
	background-color: $red-color;
	color: white;	
	font-size: 16px;
}

.top-link:hover {
	background-color: #fcfcfc;
}

.navbar-brand {
	color: white;
}

.navbar-brand:hover {
	color: $blue-color;
}