.ppt-slides {
	margin-left: 200px;
	width: 800px;
	height: 406px;
}

/*IPAD, IPHONE6, */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
{
	.ppt-slides {
		margin-left: 0px;
	}
}

/* IPHONE6+ */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) 
{
	.ppt-slides {
		margin-left: 0px;
	}
}

/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
	.ppt-slides {
		margin-left: 0px;
	}
}

/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
	.ppt-slides {
		margin-left: 0px;
	}
}