#todo-app {
	width: 450px;
	height: 343px;
}

#error-report {
	width: 600px;
	height: 263px;
	margin-bottom: 20px;
}

#error-report1 {
	margin-bottom: 20px;
}

#success-report {
	width: 500px;
	height: 251px;
	margin-bottom: 20px;
}

#success-report1 {
	width: 600px;
	height: 219px;
	margin-bottom: 20px;
}
